documentation/assets/xml-output-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TestResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Tests">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Test" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Description"/>
                    <xs:element type="xs:string" name="Result"/>
                    <xs:element name="Findings">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="Finding" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Severity"/>
                                <xs:element type="xs:string" name="Description"/>
                                <xs:element type="xs:string" name="Details"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Name" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="AggregatedResult"/>
        <xs:element name="OutputVersion">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Command"/>
              <xs:element type="xs:string" name="Version"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>